//@import url('https://fonts.googleapis.com/css?family=Roboto+Serif:600.css');

#app-root-2022-10-miljoona_roskapussia *, ::before, ::after {
  box-sizing: content-box;
}

@import 'yddrasil_overrides.less';

#app-root-2022-10-miljoona_roskapussia .app {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  .container {
    text-align: center;
    svg {
      margin: auto auto;
    }
  }
  .tooltip {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    font-size: 12pt;
    opacity: 0;
    padding: 4px 7px;
    position: fixed;
    z-index: 3;
  }
  
}

@import 'basics.less';